<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload JavaScript with Progress Ba | CodingNepal</title>
  <link rel="shortcut icon" type="x-icon" href="./Images/icon_browser.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./../css/create.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <title>HCM Open university</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.js"></script>
  <script src="./../script/create.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">HCM Open university</a>
        <nav class="navbar">
            <a href="#" class="btn-nav">Home</a>
            <a href="#" class="btn-nav">About</a>
            <a href="#" class="btn-nav">Services</a>
            <a href="#" class="btn-nav">Help</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <!-- <h1>Hi, I'm Tkag</h1> -->
            <h3>Website visualizes subject scores</h3>
            <div class="wrapper">
                <!-- <header>Upload excel file.xlsx</header> -->
                <form action="#" id="form">
                    <input class="file-input" type="file" name="file" hidden>
                    <i class="fas fa-cloud-upload-alt"></i>
                    <p>Browse File to Upload</p>
                </form>
                <section class="progress-area"></section>
                <section class="uploaded-area"></section>       
            </div>
            <div class="wrapper_table">
                <table>
                <tr>
                    <th>HocKy</th>
                    <th>MaKhoa</th>
                    <th>HoTenGV</th>
                    <th>MaMH</th>
                    <th>TenMH</th>
                    <th>MaLop</th>
                    <th>SLDK</th>
                    <th>SLD</th>
                    <th>SLKD</th>               
                </tr>
                   
                <tr>
                    <td>1</td>
                    <td>Jean</td>
                    <td>leBon</td>
                    <td>1368</td>
                    <td>18 Nov 1962</td>
                    <td>5000$</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> 
                
                <tr>
                    <td>1</td>
                    <td>Jean</td>
                    <td>leBon</td>
                    <td>1368</td>
                    <td>18 Nov 1962</td>
                    <td>5000$</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td>Jean</td>
                    <td>leBon</td>
                    <td>1368</td>
                    <td>18 Nov 1962</td>
                    <td>5000$</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr>
                    <td>1</td>
                    <td>Jean</td>
                    <td>leBon</td>
                    <td>1368</td>
                    <td>18 Nov 1962</td>
                    <td>5000$</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>                
            </table>               
            </div>
        </div>    
    </section>
  </div>
</body>
</html>